:root {
  --white-clr: #fff;
  --font-clr: #1f2937;
  --light-font-clr: #9a9a9a;
  --red-clr: #e63946;
  --gray-clr: #eeeeee;
  --light-gray-clr: #f9fafb;
  --danger-clr: #f44336;
  --sucess-clr: #4caf50;
  --box-shadow1: rgba(0, 0, 0, 0.1) 0px 1px 3px 0px,
    rgba(0, 0, 0, 0.06) 0px 1px 2px 0px;
  --box-shadow2: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px,
    rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  width: 100%;
  height: 100vh;
  display: flex;
  flex-direction: column;
  font-family: sans-serif;
}

button {
  cursor: pointer;
  outline: transparent;
  border: transparent;
}
button:active {
  opacity: 0.5;
}
ul {
  list-style: none;
}
header {
  background: var(--red-clr);
  padding: 0.5rem 2rem;
  display: flex;
  align-items: center;
}
section {
  flex: 1;
  display: flex;
}
aside {
  background: var(--gray-clr);
  padding: 1.5rem 2rem;
  flex: 1;
  min-width: 20rem;
}
main {
  background: var(--light-gray-clr);
  flex: 4;
  min-width: 40rem;
}
::placeholder {
  text-transform: capitalize;
  font-size: 1rem;
  letter-spacing: 2px;
}

#content {
  display: flex;
  flex-direction: column;
  height: 100%;
}

.header-title {
  color: var(--font-clr);
}

#project-form {
  display: flex;
  justify-content: space-between;
}
.project-input {
  width: 0;
  height: 2.5rem;
  border-color: transparent;
  padding-left: 0.5rem;
  font-size: 1.2rem;
  flex: 1;
}
.create-btn {
  background: var(--red-clr);
  color: var(--white-clr);
  font-size: 1rem;
  padding: 0.5rem;
  box-shadow: var(--box-shadow1);
}

.projects-container {
  margin-top: 2rem;
  display: grid;
  gap: 1.5rem;
}

.project {
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: space-between;
  border: 3px solid transparent;
}
.project:hover {
  border-color: var(--red-clr);
}
.project-title {
  font-size: 1.5rem;
  flex: 6;
  padding: 0.3rem 0.8rem;
}
.project-title:hover {
  padding-left: 1.2rem;
}
.remove-btn {
  flex: 1;
  font-size: 1.2rem;
  color: var(--font-clr);
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.remove-btn:hover {
  color: var(--red-clr);
}
.remove-btn > svg {
  display: block;
  pointer-events: none;
}

/* main */
.container {
  /* border: 8px solid pink; */
  margin: 2rem auto;
  width: 70%;
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
}
.main-title {
  padding: 0.5rem 0;
  font-size: 2.3rem;
  border-bottom: 0.3rem solid var(--light-font-clr);
}
.task-container {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  margin-top: 0.5rem;
}
.add-btn {
  background: transparent;
  width: 100%;
  text-align: start;
  font-size: 1.3rem;
  padding: 0.5rem 0.3rem;
  opacity: 0.7;
  /* box-shadow: var(--box-shadow1); */
  /* click add-btn and then display none, form show up */
  /* display: none; */
}
.add-btn:hover {
  background: var(--white-clr);
  opacity: 1;
}

#task-form {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 0.5rem;
  padding: 0.5rem;
  display: none;
}

.task-form-input {
  font-size: 1rem;
  padding: 0.2rem 0.3rem;
}

#title {
  grid-column: 1 / -1;
}

option {
  font-size: 1rem;
}

.btn-container {
  grid-column: 1 / -1;
  display: flex;
  justify-content: end;
}

.task-form-btn {
  background: var(--red-clr);
  color: var(--white-clr);
  font-size: 1rem;
  padding: 0.2rem;
  width: 6rem;
  justify-self: end;
}

.task-form-btn:first-child {
  margin-right: 0.8rem;
}
.task-form-btn:active {
  opacity: 0.5;
}

/* single task */
.task {
  width: 100%;
  height: 2.8rem;
  /* max-height: 60vh;
  overflow-y: scroll; */
  margin: auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0.5rem 0.8rem;
  box-shadow: var(--box-shadow2);
  background: var(--white-clr);
}
.task > div {
  /* border: 2px solid black; */
  display: flex;
  align-items: center;
  gap: 0.8rem;
}

input[type='checkbox'] {
  zoom: 1.5;
}
.task-title {
  font-size: 1.2rem;
  text-transform: capitalize;
}
.task-dueDate {
  opacity: 0.7;
  font-size: 1rem;
}
.task-btn {
  background: transparent;
}
.task-btn:active {
  opacity: 0.7;
}
.edit {
  color: var(--sucess-clr);
}
.delete {
  color: var(--danger-clr);
}
