:root {
  --light-gray-clr: #f9fafb;
  --white-clr: #fff;
  --font-clr: #1f2937;
  --blue-clr: #009df7;
  --snow-clr: #ecfbff;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  border: 1px solid black;
}
body {
  width: 100%;
  height: 100vh;
  display: flex;
  flex-direction: column;
  font-family: sans-serif;
}

button {
  cursor: pointer;
  outline: transparent;
}
button:active {
  opacity: 0.5;
}
header {
  background: var(--blue-clr);
  padding: 1.5rem;
  display: flex;
  align-items: center;
}
section {
  flex: 1;
  display: flex;
}
aside {
  background: var(--snow-clr);
  padding: 1.5rem 2rem;
  flex: 1;
  min-width: 18rem;
}
main {
  background: var(--light-gray-clr);
  flex: 4;
  min-width: 40rem;
}

.header-title {
  color: var(--font-clr);
}

#project-form {
  border: 5px solid purple;
  display: flex;
  justify-content: space-between;
}
.project-input {
  height: 2.5rem;
  border-color: transparent;
  flex: 1;
}
.create-btn {
  background: var(--blue-clr);
  color: var(--white-clr);
  font-size: 1rem;
  padding: 0.5rem;
}
.project-input::placeholder {
  font-size: 1rem;
  padding-left: 0.5rem;
  letter-spacing: 2px;
}
.projects-container {
  border: 5px solid red;
  margin-top: 2rem;
  display: grid;
  gap: 1.5rem;
}
