:root {
  --white-clr: #fff;
  --font-clr: #1f2937;
  --red-clr: #e63946;
  --gray-clr: #eeeeee;
  --light-gray-clr: #f9fafb;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  width: 100%;
  height: 100vh;
  display: flex;
  flex-direction: column;
  font-family: sans-serif;
}

button {
  cursor: pointer;
  outline: transparent;
  border: transparent;
}
button:active {
  opacity: 0.5;
}
ul {
  list-style: none;
}
header {
  background: var(--red-clr);
  padding: 0.5rem;
  display: flex;
  align-items: center;
}
section {
  flex: 1;
  display: flex;
}
aside {
  background: var(--gray-clr);
  padding: 1.5rem 2rem;
  flex: 1;
  min-width: 20rem;
}
main {
  background: var(--light-gray-clr);
  flex: 4;
  min-width: 40rem;
}

.header-title {
  color: var(--font-clr);
}

#project-form {
  display: flex;
  justify-content: space-between;
}
.project-input {
  width: 0;
  height: 2.5rem;
  border-color: transparent;
  padding-left: 0.5rem;
  font-size: 1.2rem;
  flex: 1;
}
.create-btn {
  background: var(--red-clr);
  color: var(--white-clr);
  font-size: 1rem;
  padding: 0.5rem;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 1px 3px 0px,
    rgba(0, 0, 0, 0.06) 0px 1px 2px 0px;
}
.project-input::placeholder {
  font-size: 1rem;
  letter-spacing: 2px;
}
.projects-container {
  margin-top: 2rem;
  display: grid;
  gap: 1.5rem;
}

.project {
  padding: 0.5rem 0.8rem;
  cursor: pointer;
  font-size: 1rem;
  border: 3px solid transparent;
}
.project:hover {
  border-color: var(--red-clr);
  padding-left: 1.2rem;
}
